
.instructions {
	position: relative;
	text-align: center;
}

.instructions .image {
	position: relative;
	left: 30%;
	max-width: 200px;
}

.instructions .textbox {
	display: block;
	margin: auto;
	box-sizing: border-box;
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
}

.instructions .textbox .title {
	color: #5b5b5b !important;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5%;
}

.instructions .textbox .text {
	padding: 10px;
	word-wrap: break-word;
	color: #5b5b5b;
	font-family: Nunito, Verdana;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
}

.instructions .textbox .button {
	clear: none;
	margin-bottom: 20px;
}