.bgImage {
	background-image: url('../imgHeaderVerde-1-1920x893_2.png');
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;;
	background-repeat: no-repeat;
	background-position: center;
}

.title-box {
	margin: auto;
	padding-top: 7em;
	text-align: center;
}

.title-box .title {
	color: white;
}

.logoFooter {
	justify-content:center;
}

.logoFooter .img-logo {
	position: absolute;
	max-width: 100px;
	bottom: 1%;
	right: 3%
}