
.instructions {
	position: relative;
	text-align: center;
}

.instructions .image {
	position: relative;
	left: 30%;
	max-width: 200px;
}

.instructions .textbox {
	display: block;
	margin: auto;
	box-sizing: border-box;
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
}

.instructions .textbox .title {
	color: #5b5b5b !important;
	text-transform: uppercase;
	text-align: center;
	padding-top: 1em;
}

.instructions .textbox .text {
	padding: 10px;
	word-wrap: break-word;
	color: #5b5b5b;
	font-family: Nunito, Verdana;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
}

.instructions .textbox .button {
	clear: none;
	margin-bottom: 20px;
}

.share-button {
	color: #2da2ba;
	border: 2px solid #2da2ba;
	background-color: transparent;
	padding-bottom: 0.818em;
	padding-top: 0.818em;
	padding-left: 0.909em;
	padding-right: 0.909em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.share-button:hover {
	color: #ffffff;
	border: 2px solid #228c93;
	background-color: #228c93;

}

.textbox {
	display: block;
	margin: auto;
	box-sizing: border-box;
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
}