body {

}

h1 {
	color: white;
	font-family: Nunito, Verdana;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
	line-height: 32px;
	text-transform: uppercase;
	opacity: 0.9;
	margin-bottom: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.btn-primary {
	background-color: #ff4c4d;
	color: #ffffff;
	padding-top: 1.818em;
	padding-right: 2.727em;
	padding-bottom: 1.818em;
	padding-left: 2.727em;
	margin: 0px;
	display: inline-block;
	border: 3px solid transparent;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	border-radius: 50px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	-webkit-transition : color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition    : color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition      : color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition     : color .3s ease, background-color .3s ease, border-color .3s ease;
	transition         : color .3s ease, background-color .3s ease, border-color .3s ease;
}

.btn-primary:hover {
	background: #3071A9;
	border-color: transparent;
}
.btn-primary:active{
	background: #3071A9;
	border-color: transparent;
}

.no-border-bottom {
	border-bottom: transparent !important;
}

.full-height {
	height: 100%;
}

.margin-top-30{
	margin-top: 30%;
}

.align-right {
	display: flex;
	justify-content: flex-end;
}


.footer-position {
	position: absolute;
	bottom: 0%;
}

.logo-size {
	max-width: 100px;
	margin-bottom: 10%;
}
